
@font-face { font-family: Whitney; src: url('fonts/HCo_Whitney_Pro/OpenType/Whitney-Semibld-Pro.otf'); }


html {
    background-color: #F9F9F9;
}

.body {
    position: absolute;
    top: 0px;
    z-index: 1;
}

#module {
    z-index: 50;
}

/*////////////////////////////// NAV ITEMS */

#header {
    position: fixed;
    top: 0px;
    z-index: 30;
}

.header-subsection {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.07), 0px 1px 18px rgba(0, 0, 0, 0.06), 0px 3px 5px rgba(0, 0, 0, 0.1);
}

#bottom {
    position: fixed;
    bottom: 0px;
}

#bottom-nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 13px 24px 0px 24px;
    float: center;
    background-color: #ffffff;
    border-top: 1px solid #d6d6d6;
    z-index: 20;
}

.nav-item {
    width: 81px;
    margin: auto;
    color: #0F3C97;
    text-align: center;
    float: left;
}

.nav-icon {
    margin-bottom: 6px;
}

#active {
    color: #0F3C97;
}

.nav-item p{
    text-align: center;
    font-family: 'Whitney', Fallback, sans-serif;
    /* font-weight: 600; */
    font-size: 14pt;
    line-height: 16pt;
    letter-spacing: 1.25px;
    margin: 0;
    margin-bottom: 10px;
    color: #1E69D2;
}

.selected-bar {
    width: 81px;
    height: 2px;
    background-color: #0F3C97;
}


/*////////////////////////////// HOT SPOT */

.hotspot {
    background-color: red;
    opacity: 0;
    z-index: 3;
    position: absolute;
}

/*/// HOME */

#hotspot-injectox {
    width: 327px;
    height: 48px;
    top: 221px;
    left: 24px;
}

#hotspot-guide {
    width: 327px;
    height: 48px;
    top: 361px;
    left: 24px;
}

/*/// RX */

#hotspot-detail {
    width: 70px;
    height: 25px;
    top: 195px;
    left: 210px;
}

#hotspot-back-arrow {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 31;
}

#hotspot-refill {
    width: 295px;
    height: 36px;
    left: 40px;
    top: 396px;
}



/*////////////////////////////// DROPDOWNS */

